<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hola Data Rangers</p>
    <br>
    <img src="https://user-images.githubusercontent.com/9124597/137246625-55f42236-2a54-4230-aee9-e8822a7f0e8e.PNG">
    <p>Imagen desde el Saas de Azure</p>
    <br>
    <img src="https://lab05.blob.core.windows.net/blob06/scr1.PNG?sp=r&st=2021-10-14T03:36:50Z&se=2021-10-14T11:36:50Z&spr=https&sv=2020-08-04&sr=b&sig=T8poMeJNtoNOdrxYobpfOehb92OT7fnVZZxmk06BhGU%3D">
  
    </body>
</html>
