<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hola Data Rangers</p>
    <br>
    <img src="https://user-images.githubusercontent.com/9124597/137246625-55f42236-2a54-4230-aee9-e8822a7f0e8e.PNG">
    </body>
</html>
