<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenidos viajeros de <%= title %></p>
    </br>
    <h2>Hola Paco :D </h2>
  </body>
</html>
