<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hola Cloud Rangers</p>
    <br>
    <img src="https://storagecrlab1.blob.core.windows.net/blobcloudrangers/cr1.PNG?sp=r&st=2021-07-09T01:39:25Z&se=2021-07-09T09:39:25Z&spr=https&sv=2020-08-04&sr=b&sig=iOP5kxN98PGLJlKTZGcPtFvfYDHeWelzyPJqt%2F%2BT7aQ%3D">
    </body>
</html>
